@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply antialiased font-sans bg-white;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: 'Merriweather', serif;
  }
}

.news-content img {
  max-width: 100%;
  height: auto;
  border-radius: 0.75rem;
  margin: 2rem 0;
}

.news-content h1,
.news-content h2,
.news-content h3 {
  font-family: 'Merriweather', serif;
  font-weight: 700;
  margin: 2rem 0 1rem;
  color: #111;
}

.news-content p {
  margin-bottom: 1.5rem;
}

.news-content ul,
.news-content ol {
  margin-bottom: 1.5rem;
  padding-left: 1.5rem;
}

.news-content li {
  margin-bottom: 0.5rem;
}

.news-content blockquote {
  border-left: 4px solid #16a34a;
  padding-left: 1.5rem;
  font-style: italic;
  color: #444;
  margin: 2rem 0;
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

/* Quill Editor Customization */
.quill-wrapper .ql-container {
  font-family: inherit;
  font-size: 1.125rem;
  border-bottom-left-radius: 0.75rem;
  border-bottom-right-radius: 0.75rem;
  background-color: white;
  border-color: #e5e7eb !important;
  /* gray-200 */
}

.quill-wrapper .ql-toolbar {
  border-top-left-radius: 0.75rem;
  border-top-right-radius: 0.75rem;
  background-color: #f9fafb;
  /* gray-50 */
  border-color: #e5e7eb !important;
}

.quill-wrapper .ql-editor {
  min-height: 400px !important;
}

.quill-wrapper .ql-container.ql-snow {
  border: 1px solid #e5e7eb !important;
}